.sideNav {
    height: 100%; 
    width: 270px; 
    position: fixed; 
    left: 0;
    background-color: #232c47; 
    overflow-x: hidden;
    padding-top: 140px;
    box-shadow:0 0 5px 5px rgb(156, 156, 156);
}

.sideNav a {
    padding: 5px 8px 10px 16px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    font-family:sans-serif;
}

.sideNav a:hover {
    color: gray;
    text-decoration: underline;
}

